attrs==23.2.0
aws-cdk.cloud-assembly-schema==1.204.0
aws-cdk.core==1.204.0
aws-cdk.cx-api==1.204.0
aws-cdk.region-info==1.204.0
bitarray==2.9.2
bitstring==4.2.3
cattrs==23.2.3
cffi==1.17.0
constructs==3.4.344
cryptography==43.0.0
ecdsa==0.19.0
esptool==4.7.0
importlib_resources==6.4.4
intelhex==2.3.0
jsii==1.102.0
publication==0.0.3
pycparser==2.22
pyserial==3.5
python-dateutil==2.9.0.post0
PyYAML==6.0.2
reedsolo==1.7.0
six==1.16.0
typeguard==2.13.3
typing_extensions==4.12.2
